/* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li{
    font-size: 1rem;
    padding: -1px 7px;
}

/* home */

#home{
    height: 395px;
    padding: 3px 68px;
}

#home::before{
    height: 529px;
}

#home p{
    font-size: 13px;
}

/* services */

#services{
    flex-direction: column;
}

/* Clients */

#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 105px;
    padding: 0 6px;
    padding-bottom: 9px;
}

/* Contact us */


/* Footer */

/* Utility Classes */

.h-primary{
    font-size: 25px;
}

.btn{
    font-size: 10px;
}